@font-face{
    font-family: content-text;
    src: url('fonts/TREBUCBD.ttf');
  }
  @font-face{
    font-family: heading-text;
    src: url('fonts/trebuc.ttf');
  }
  body, html {
    height: 100%;
    margin: 0;
    background: url("images/bg.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      background-size: cover;
  }
  .logo{
    display: block;
    margin-top: -34px;
    margin-left: 10px;
    text-decoration: none;
    float: left;
  }
  .logo-width{
    width: 100%;
    margin: -5px;
  }
  .highlight{
    color:#B1DFF9;
    font-family:heading-text;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0% 8%;
  }
  .highlight-text{
    color:#B1DFF9;
    font-family:heading-text;
  }
  .contact{
    color:white;
  }
nav {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid black;
  box-shadow: inset 0px 0px 0px 1px rgb(85, 85, 85);
}
nav ul{
margin: 2% 0% 2% 23%;
}
nav ul li {
display: inline-block;
  list-style: none;
  text-align: center;
  padding: 0 7px;
}
nav ul li a {
  font-family: heading-text;
  text-decoration: none;
  color:#B1DFF9;
  font-size: 19px;
  margin-right: 12px;
}
nav ul li.add-border{
border-right: 1px solid white ;
padding: 0px 11px;
}
  .help-block{
    font-family:content-text;
    font-size:15px;
    background-color:#152d4d;
    color:white;
    padding-top:17px;
    padding-bottom:20px;
    padding-left:40px;
    margin-left: 0px;
    width: 85%;
    height: 40px;
    margin-top:-9px;
  }
  button{
    font-family:content-text;
    font-size:12px;
    background-color:#1D577A;
    padding-left:14px;
    padding-top:2px;
    border: none;
    border-radius: 4px;
    color:#C9E7FF;
    margin-top: 8px;
    letter-spacing: 1px;
    height:60%;
  }
  .copyright-block{
    font-family: content-text;
    font-size:12px;
    background-color: rgba(0, 0, 0, 0.3);
    color:#CFDEF3;
    text-align: center;
    word-spacing: 4px;
    padding: 6px 0px;
    margin: 2% 0 0 0;
  }
  .title-block{
    font-family:content-text;
    font-size:12px;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    padding:8px 10px;
    margin: 0 0 2% 66%;
  }
  li a:hover {
    background-color:#4c697e;
  }
  .active{
    background-color: #4c697e;
    margin-left: -4px;
  }
  .title ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0 5px;
  }
  .title ul li a{
    text-decoration: none;
    color: white;
  }
  .title ul li.separate-list{
    border-right: 1px solid white ;
      }

      .row{
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 4%;
      }
      
      .column {
        float: left;
        padding: 0px 10px 50px 10px;
      }
      
      .left {
        width: 32%;
        box-sizing: border-box;
        margin: 4% 0% 0% -23%;
      }
      
      .right {
        width: 68%;
        box-sizing: border-box;
        margin: 4% 0% 0% 0%;
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
.images{
    width: 85%;
    margin: 7% 7%;
  }
  .horizontal-bar{
    opacity: 0.4;
    margin: 0 6% 0 8%;
  }
  .horizontal-border-top{
    opacity: 0.4;
    margin: 4% 9% 1% 0%;
  }
  .horizontal-border-bottom{
    opacity: 0.4;
    margin: -2% 9% 0% 0%;
  }
  .img-margin{
    margin: 0% 7%;
  }
  .heading{
    letter-spacing: 2px; color: #B1DFF9;font-size: 20px;font-family: heading-text;
  }
  .services-content{
    font-family: content-text;color: white;line-height: 1.6;font-size:15px;letter-spacing: 1px;
  }
