
@font-face{
  font-family: century-gothic;
  src: url('fonts/Century Gothic.ttf');
}
@font-face{
  font-family: content-text;
  src: url('fonts/aspira-xnar-light.otf');
}
.home-nav {
  list-style-type: none;
  margin: 0;
  font-size:17px;
  overflow: hidden;
  background-color:black;
  opacity: 0.9;
  height:39px;
  padding:0px 10px;
}

li a {
  display: block;
  color: white;
  font-family:'Noto Sans', sans-serif;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  float: left;
}

li img {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  float: right;
  margin-top: 0px;
  margin-right: 16px;
}

.header{
  font-family: century-gothic;
  font-size:35px;
  background-color: #3090C7;
  color:white;
  padding:20px 18px;
}
.header .header-margin{
    margin:8px;
}
.home-nav .active{
  background-color: orange;
}
h2 a{
text-decoration: none;
color:white;
}
.news-block{
  font-family:'Open Sans', sans-serif;
  border: 1px solid lightgray; 
  margin:2% 33% 0% 5%;
}

.welcome-block{
  font-size:13px;
  margin:2% 15% 0% 5%;
  text-align:left;
  word-spacing: 2px;
}
.news-block p.news{
    font-size: 19px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0px;
}
.news-block ul.news{
    font-size:100%; 
    font-family: content-text;
    font-weight: bold;
    margin-top: 0%;  
    margin-bottom: 10px;
}
.news-block li.news{
  list-style-type: none;
  line-height: 40px;
  font-size: 15px;
}
 .news-block li.news:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}
.welcome-block p.welcome{
    font-size:19px;
    font-family:'Open Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
.welcome-block p.introduction{
  margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
    font-family:content-text;
}
body {
    margin: 0;
}