@font-face{
    font-family: content-text;
    src: url('TREBUCBD.ttf');
  }
  @font-face{
    font-family: heading-text;
    src: url('trebuc.ttf');
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  .bg {
    background-image: url("bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    .logo{
    display: block;
    padding: 14px 16px;
    margin-top: -135px;
    margin-left: 215px;
    text-decoration: none;
    float: left;
    position: relative;
  }
  .highlight{
    color:#B1DFF9;
    margin-left: 25px;
    font-family:heading-text;
    font-size: 90%;
    letter-spacing: 1px;
  }
  .highlight-text{
    color:#B1DFF9;
    font-family:heading-text;
  }
  .contact{
    color:white;
  }
  nav {
      margin-top: 40px;
      margin-left: 220px;
      width: 991px;
      height: 70px;
      background: rgba(0, 0, 0, 0.7);
      border: 2px solid black;
      box-shadow: inset 0px 0px 0px 1px rgb(85, 85, 85);
  }
  nav ul {
      overflow: hidden;
      margin: 0;
      padding-left:280px ;
  }
  nav ul li {
      list-style: none;
      float: left;
      text-align: center;
      padding: 10px;
      box-sizing: border-box;
  }
  nav ul li  p{
      display: block;
      text-decoration: none;
      color: white;
      font-family: Arial;
      font-size: 120%;
      padding: 0;
      margin-top: 13px;
      margin-left: -10px;
  }
  nav ul li a {
      display: block;
      font-family: heading-text;
      text-decoration: none;
      color:#B1DFF9;
      padding: 15px 0;
      font-size: 17px;
  }
  .help-block{
    font-family:content-text;
    font-size:90%;
    background-color:#152d4d;
    color:white;
    padding-top:17px;
    padding-bottom:20px;
    padding-left:40px;
    margin-left: 0px;
    width: 557px;
    height: 40px;
    margin-top:-9px;
  }
  button{
    font-family:content-text;
    font-size:80%;
    background-color:#1D577A;
    padding-left:14px;
    padding-top:2px;
    border: none;
    border-radius: 4px;
    color:#C9E7FF;
    margin-top: 8px;
    letter-spacing: 1px;
    height:60%;
  }
  .copyright-block{
    font-family: heading-text;
    font-size:84%;
    background-color: rgba(0, 0, 0, 0.3);
    color:#CFDEF3;
    padding-top: 10px;
    padding-left:200px;
    margin-left: 220px;
    margin-top: 650px;
    width: 796px;
    height: 25px;
    word-spacing: 4px;
  }
  .title-block{
    font-family:content-text;
    font-size:71%;
    background-color: rgba(0, 0, 0, 0.4);
    color:white;
    padding-top: 10px;
    padding-left:10px;
    margin-top: 0px;
    margin-left: 900px;
    width: 304px;
    height: 22px;
  }
  .column {
  height: 68%;
  float: left;
}
.col1 {
    width: 25%;
    margin-left: -250px;
    margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.7);
}
.col2 {
    width: 44%;
    margin-left: 0px;
    margin-top: 50px;
	background-color:rgba(0, 0, 0, 0.7);
}
.images{
    width: 85%;
    margin-top: 30px;
    margin-left: 25px;
  }
  .horizontal-bar{
    width: 305px;opacity: 0.4;margin-left: 25px;
  }
  .horizontal-border-top{
    width: 595px;opacity: 0.4;margin-left:0px;
  }
  .horizontal-border-bottom{
    width: 595px;opacity: 0.4;margin-left:0px;margin-top: -14px;
  }
  .img-margin{
    margin-top: 15px;
  }
  .heading{
    padding-top: 10px;letter-spacing: 2px; color: #B1DFF9;font-size: 120%;font-family: heading-text;
  }
  .services-content{
    font-family: content-text;color: white;line-height: 1.6;font-size:90%;letter-spacing: 1px;
  }
  .request-button{
    font-size: 140%;
  }